pytest
pytest-mock
pytest-benchmark
pytest-celery
requests-mock
coverage
flake8

# Releases
python-semantic-release>=9.7,<10

# mypy
mypy

types-PyYAML
types-python-dateutil
types-click
types-requests
