rich

# public Interface
pydantic>=1.10.13<2
email-validator

# SQL Source
SQLAlchemy>=2.0.0,<2.1
sqlalchemy-utils>=0.41.0,<0.42.0  # used for encrypted columns
mysqlclient>=2.1.0,<2.2
alembic

# Server
requests
fastapi>=0.75.1,<0.76.0
uvicorn>=0.15.0,<0.16.0

# cli
click

authlib
fastapi-sessions
httpx
python-multipart
python-frontmatter

minio>=7.2.0,<7.3

jinja2>=3.1.2,<4
pypugjs>=5.9.12,<6
prometheus-fastapi-instrumentator==6.1.0
dateutils>=0.6.12,<0.7
