@charset "utf-8";

@font-face {
    font-family: lato-regular;
    src: url('../../static/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: inter-regular;
    src: url('../../static/fonts/Inter-Regular.ttf');
}

:root {
    --brandColor: hsl(166, 67%, 51%);
    --background: rgb(252, 252, 252);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
}

body {
    background: var(--background);
    color: var(--textDark);
    font-weight: 400;
}

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

@import "bulma/sass/utilities/initial-variables";

// Add a serif family
$family-serif: inter-regular, lato-regular, Roboto, Helvetica, Arial, sans-serif;

// Use the new pink as the primary color
$primary: darken($purple, 20%);
$secondary: $purple;
$link: lighten($purple, 10%);
$info: lighten($purple, 20%);
// $success: $green;
$warning: mix($purple, $yellow, 90%);
// $danger: $red;
// $dark: $grey-darker;
// $text: $grey-dark;

// Use the new serif family
$family-primary: $family-serif;

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";

@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/card.sass";
@import "bulma/sass/components/dropdown.sass";
@import "bulma/sass/components/level.sass";
@import "bulma/sass/components/media.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/message.sass";
//@import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/pagination.sass";
//@import "bulma/sass/components/panel.sass";
//@import "bulma/sass/components/tabs.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/form.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/notification.sass";
@import "bulma/sass/elements/other.sass";
@import "bulma/sass/elements/progress.sass";
@import "bulma/sass/elements/table.sass";
@import "bulma/sass/elements/tag.sass";
@import "bulma/sass/elements/title.sass";

@import "bulma/sass/form/shared.sass";
@import "bulma/sass/form/input-textarea.sass";
@import "bulma/sass/form/checkbox-radio.sass";
//@import "bulma/sass/form/file.sass";
@import "bulma/sass/form/select.sass";
@import "bulma/sass/form/tools.sass";

@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";
@import "bulma/sass/layout/_all.sass";

// Bulma extensions
@import "bulma-extensions/bulma-pricingtable/src/sass";
@import "bulma-extensions/bulma-tooltip/src/sass";
@import "bulma-extensions/bulma-switch/src/sass";
@import "bulma-extensions/bulma-timeline/src/sass";
@import "bulma-list/sass/bulma-list.sass";

// HighlightJS
@import "highlight.js/styles/atom-one-dark";

// fontawesome
$fa-font-path: "@fortawesome/fontawesome-free/webfonts/";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";
