{% extends 'layout.html' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.hero.is-danger.is-light
 .hero-body
  .title Payment
  .subtitle Please enter you payment details
.block.box
 .column.is-10.is-offset-1
  #payment-page
   .container
    .payment-container
     // Component will be rendered here
     #component.payment
{% endblock %}


{% block javascript %}
// FIXME: Adyen JS from TEST environment (change to live for production)
link(rel='stylesheet' href='https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.40.0/adyen.css' integrity='sha384-BRZCzbS8n6hZVj8BESE6thGk0zSkUZfUWxL/vhocKu12k3NZ7xpNsIK39O2aWuni' crossorigin='anonymous')
script(src='https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.40.0/adyen.js' integrity='sha384-ds1t0hgFCe636DXFRL6ciadL2Wb4Yihh27R4JO7d9CF7sFY3NJE4aPCK0EpzaYXD' crossorigin='anonymous')

script#client-key(type='application/json') {{ client_key|tojson }}
script#invoice_id(type='application/json') {{ invoice.id|string|tojson }}
script(src="{{ url_for('static', path='js/adyen-implementation.js') }}")
{% endblock %}
