{% extends 'layout.pug' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.hero.is-link
 .hero-body
  .title Billing Details
  .subtitle.is-6 We Only Store These for Billing Purposes
form(action="{{ url_for('team_billing_payment') }}" method="POST")
 input(type="hidden" name="team_name" value="{{team_name}}")
 input(type="hidden" name="yearly" value="{% if yearly %}1{%else%}0{%endif%}")
 input(type="hidden" name="type" value="{{type}}")
 .section
  .columns
   .column.is-11
    .field.is-horizontal
      .field-label.is-normal
        label.label Address
      .field-body
        .field
          p.control.is-expanded.has-icons-left
           input.input(type='text' placeholder='Address Line' name="address_line1" value="{{customer.address_line1 if customer}}")
           span.icon.is-small.is-left
             i.fas.fa-address-card
        .field
          p.control.is-expanded.has-icons-left
           input.input(type='text' placeholder='Address Line' name="address_line2" value="{{customer.address_line2 if customer}}")
           span.icon.is-small.is-left
            i.fas.fa-address-card
    .field.is-horizontal
      .field-label.is-normal
        label.label
      .field-body
        .field
          p.control.is-expanded.has-icons-left
           input.input(type='text' placeholder='City' name="city" value="{{customer.city if customer}}")
           span.icon.is-small.is-left
            i.fas.fa-city
        .field
          p.control.is-expanded.has-icons-left
           input.input(type='text' placeholder='Zip code' name="zip" value="{{customer.zip if customer}}")
           span.icon.is-small.is-left
            i.fas.fa-map-pin
        .field
          p.control.is-expanded.has-icons-left
           input.input(type='text' placeholder='State' name='state' value="{{customer.state if customer}}")
           span.icon.is-small.is-left
            i.fas.fa-address-card
    .field.is-horizontal
      .field-label.is-normal
        label.label Country
      .field-body
        .field
          p.control.is-expanded.has-icons-left
           span.select.is-fullwidth
             // country codes (ISO 3166) and Dial codes.
             select(name='country_code' id='country_code' value="{{customer.country_code if customer }}")
               option(value='AD') Andorra
               option(value='AE') United Arab Emirates
               option(value='AG') Antigua &amp; Barbuda
               option(value='AI') Anguilla
               option(value='AM') Armenia
               option(value='AO') Angola
               option(value='AR') Argentina
               option(value='AT') Austria
               option(value='AU') Australia
               option(value='AW') Aruba
               option(value='AZ') Azerbaijan
               option(value='BA') Bosnia Herzegovina
               option(value='BB') Barbados
               option(value='BD') Bangladesh
               option(value='BE') Belgium
               option(value='BF') Burkina Faso
               option(value='BG') Bulgaria
               option(value='BH') Bahrain
               option(value='BI') Burundi
               option(value='BJ') Benin
               option(value='BM') Bermuda
               option(value='BN') Brunei
               option(value='BO') Bolivia
               option(value='BR') Brazil
               option(value='BS') Bahamas
               option(value='BT') Bhutan
               option(value='BW') Botswana
               option(value='BY') Belarus
               option(value='BZ') Belize
               option(value='CA') Canada
               option(value='CF') Central African Republic
               option(value='CG') Congo
               option(value='CH') Switzerland
               option(value='CK') Cook Islands
               option(value='CL') Chile
               option(value='CM') Cameroon
               option(value='CN') China
               option(value='CO') Colombia
               option(value='CR') Costa Rica
               option(value='CS') Serbia
               option(value='CU') Cuba
               option(value='CV') Cape Verde Islands
               option(value='CY') Cyprus South
               option(value='CY') Cyprus North
               option(value='CZ') Czech Republic
               option(value='DE') Germany
               option(value='DJ') Djibouti
               option(value='DK') Denmark
               option(value='DM') Dominica
               option(value='DO') Dominican Republic
               option(value='DZ') Algeria
               option(value='EC') Ecuador
               option(value='EE') Estonia
               option(value='EG') Egypt
               option(value='ER') Eritrea
               option(value='ES') Spain
               option(value='ET') Ethiopia
               option(value='FI') Finland
               option(value='FJ') Fiji
               option(value='FK') Falkland Islands
               option(value='FM') Micronesia
               option(value='FO') Faroe Islands
               option(value='FR') France
               option(value='GA') Gabon
               option(value='GB') UK
               option(value='GD') Grenada
               option(value='GE') Georgia
               option(value='GF') French Guiana
               option(value='GH') Ghana
               option(value='GI') Gibraltar
               option(value='GL') Greenland
               option(value='GM') Gambia
               option(value='GN') Guinea
               option(value='GP') Guadeloupe
               option(value='GQ') Equatorial Guinea
               option(value='GR') Greece
               option(value='GT') Guatemala
               option(value='GU') Guam
               option(value='GW') Guinea - Bissau
               option(value='GY') Guyana
               option(value='HK') Hong Kong
               option(value='HN') Honduras
               option(value='HR') Croatia
               option(value='HT') Haiti
               option(value='HU') Hungary
               option(value='ID') Indonesia
               option(value='IE') Ireland
               option(value='IL') Israel
               option(value='IN') India
               option(value='IQ') Iraq
               option(value='IR') Iran
               option(value='IS') Iceland
               option(value='IT') Italy
               option(value='JM') Jamaica
               option(value='JO') Jordan
               option(value='JP') Japan
               option(value='KE') Kenya
               option(value='KG') Kyrgyzstan
               option(value='KH') Cambodia
               option(value='KI') Kiribati
               option(value='KM') Comoros
               option(value='KN') St. Kitts
               option(value='KP') Korea North
               option(value='KR') Korea South
               option(value='KW') Kuwait
               option(value='KY') Cayman Islands
               option(value='KZ') Kazakhstan
               option(value='LA') Laos
               option(value='LB') Lebanon
               option(value='LI') Liechtenstein
               option(value='LK') Sri Lanka
               option(value='LR') Liberia
               option(value='LS') Lesotho
               option(value='LT') Lithuania
               option(value='LU') Luxembourg
               option(value='LV') Latvia
               option(value='LY') Libya
               option(value='MA') Morocco
               option(value='MC') Monaco
               option(value='MD') Moldova
               option(value='MG') Madagascar
               option(value='MH') Marshall Islands
               option(value='MK') Macedonia
               option(value='ML') Mali
               option(value='MN') Myanmar
               option(value='MN') Mongolia
               option(value='MO') Macao
               option(value='MQ') Martinique
               option(value='MR') Mauritania
               option(value='MS') Montserrat
               option(value='MT') Malta
               option(value='MV') Maldives
               option(value='MW') Malawi
               option(value='MX') Mexico
               option(value='MY') Malaysia
               option(value='MZ') Mozambique
               option(value='NA') Namibia
               option(value='NC') New Caledonia
               option(value='NE') Niger
               option(value='NF') Norfolk Islands
               option(value='NG') Nigeria
               option(value='NI') Nicaragua
               option(value='NL') Netherlands
               option(value='NO') Norway
               option(value='NP') Northern Marianas
               option(value='NP') Nepal
               option(value='NR') Nauru
               option(value='NU') Niue
               option(value='NZ') New Zealand
               option(value='OM') Oman
               option(value='PA') Panama
               option(value='PE') Peru
               option(value='PF') French Polynesia
               option(value='PG') Papua New Guinea
               option(value='PH') Philippines
               option(value='PL') Poland
               option(value='PR') Puerto Rico
               option(value='PT') Portugal
               option(value='PW') Palau
               option(value='PY') Paraguay
               option(value='QA') Qatar
               option(value='RE') Reunion
               option(value='RO') Romania
               option(value='RU') Russia
               option(value='RW') Rwanda
               option(value='SA') Saudi Arabia
               option(value='SB') Solomon Islands
               option(value='SC') St. Lucia
               option(value='SC') Seychelles
               option(value='SD') Sudan
               option(value='SE') Sweden
               option(value='SG') Singapore
               option(value='SH') St. Helena
               option(value='SI') Slovenia
               option(value='SI') Syria
               option(value='SK') Slovak Republic
               option(value='SL') Sierra Leone
               option(value='SM') San Marino
               option(value='SN') Senegal
               option(value='SO') Somalia
               option(value='SR') Suriname
               option(value='ST') Sao Tome &amp; Principe
               option(value='SV') El Salvador
               option(value='SZ') Swaziland
               option(value='TC') Turks &amp; Caicos Islands
               option(value='TG') Togo
               option(value='TH') Thailand
               option(value='TJ') Tajikstan
               option(value='TM') Turkmenistan
               option(value='TM') Turkmenistan
               option(value='TN') Tunisia
               option(value='TO') Tonga
               option(value='TR') Turkey
               option(value='TT') Trinidad &amp; Tobago
               option(value='TV') Tuvalu
               option(value='TW') Taiwan
               option(value='UA') Ukraine
               option(value='UG') Uganda
               option(value='US') USA
               option(value='UY') Uruguay
               option(value='UZ') Uzbekistan
               option(value='VA') Vatican City
               option(value='VE') Venezuela
               option(value='VG') Virgin Islands - British
               option(value='VI') Virgin Islands - US
               option(value='VN') Vietnam
               option(value='VU') Vanuatu
               option(value='WF') Wallis &amp; Futuna
               option(value='YE') Yemen (South)(+967)
               option(value='YE') Yemen (North)(+969)
               option(value='YT') Mayotte
               option(value='ZA') South Africa
               option(value='ZM') Zambia
               option(value='ZW') Zimbabwe
           span.icon.is-small.is-left
             i.fas.fa-globe
    .field.is-horizontal
     .field-label.is-normal
       .label Phone number
      .field-body.has-addon
        .field.is-expanded
          .field.has-addons
           p.control
            span.select
             // country codes (ISO 3166) and Dial codes.
             select(name='phone_country_code' id='phone_country_code' value="{{customer.phone_country_code if customer}}")
               option(data-countrycode='AD' value='376') Andorra (+376)
               option(data-countrycode='AE' value='971') United Arab Emirates (+971)
               option(data-countrycode='AG' value='1268') Antigua &amp; Barbuda (+1268)
               option(data-countrycode='AI' value='1264') Anguilla (+1264)
               option(data-countrycode='AM' value='374') Armenia (+374)
               option(data-countrycode='AO' value='244') Angola (+244)
               option(data-countrycode='AR' value='54') Argentina (+54)
               option(data-countrycode='AT' value='43') Austria (+43)
               option(data-countrycode='AU' value='61') Australia (+61)
               option(data-countrycode='AW' value='297') Aruba (+297)
               option(data-countrycode='AZ' value='994') Azerbaijan (+994)
               option(data-countrycode='BA' value='387') Bosnia Herzegovina (+387)
               option(data-countrycode='BB' value='1246') Barbados (+1246)
               option(data-countrycode='BD' value='880') Bangladesh (+880)
               option(data-countrycode='BE' value='32') Belgium (+32)
               option(data-countrycode='BF' value='226') Burkina Faso (+226)
               option(data-countrycode='BG' value='359') Bulgaria (+359)
               option(data-countrycode='BH' value='973') Bahrain (+973)
               option(data-countrycode='BI' value='257') Burundi (+257)
               option(data-countrycode='BJ' value='229') Benin (+229)
               option(data-countrycode='BM' value='1441') Bermuda (+1441)
               option(data-countrycode='BN' value='673') Brunei (+673)
               option(data-countrycode='BO' value='591') Bolivia (+591)
               option(data-countrycode='BR' value='55') Brazil (+55)
               option(data-countrycode='BS' value='1242') Bahamas (+1242)
               option(data-countrycode='BT' value='975') Bhutan (+975)
               option(data-countrycode='BW' value='267') Botswana (+267)
               option(data-countrycode='BY' value='375') Belarus (+375)
               option(data-countrycode='BZ' value='501') Belize (+501)
               option(data-countrycode='CA' value='1') Canada (+1)
               option(data-countrycode='CF' value='236') Central African Republic (+236)
               option(data-countrycode='CG' value='242') Congo (+242)
               option(data-countrycode='CH' value='41') Switzerland (+41)
               option(data-countrycode='CK' value='682') Cook Islands (+682)
               option(data-countrycode='CL' value='56') Chile (+56)
               option(data-countrycode='CM' value='237') Cameroon (+237)
               option(data-countrycode='CN' value='86') China (+86)
               option(data-countrycode='CO' value='57') Colombia (+57)
               option(data-countrycode='CR' value='506') Costa Rica (+506)
               option(data-countrycode='CS' value='381') Serbia (+381)
               option(data-countrycode='CU' value='53') Cuba (+53)
               option(data-countrycode='CV' value='238') Cape Verde Islands (+238)
               option(data-countrycode='CY' value='357') Cyprus South (+357)
               option(data-countrycode='CY' value='90392') Cyprus North (+90392)
               option(data-countrycode='CZ' value='42') Czech Republic (+42)
               option(data-countrycode='DE' value='49') Germany (+49)
               option(data-countrycode='DJ' value='253') Djibouti (+253)
               option(data-countrycode='DK' value='45') Denmark (+45)
               option(data-countrycode='DM' value='1809') Dominica (+1809)
               option(data-countrycode='DO' value='1809') Dominican Republic (+1809)
               option(data-countrycode='DZ' value='213') Algeria (+213)
               option(data-countrycode='EC' value='593') Ecuador (+593)
               option(data-countrycode='EE' value='372') Estonia (+372)
               option(data-countrycode='EG' value='20') Egypt (+20)
               option(data-countrycode='ER' value='291') Eritrea (+291)
               option(data-countrycode='ES' value='34') Spain (+34)
               option(data-countrycode='ET' value='251') Ethiopia (+251)
               option(data-countrycode='FI' value='358') Finland (+358)
               option(data-countrycode='FJ' value='679') Fiji (+679)
               option(data-countrycode='FK' value='500') Falkland Islands (+500)
               option(data-countrycode='FM' value='691') Micronesia (+691)
               option(data-countrycode='FO' value='298') Faroe Islands (+298)
               option(data-countrycode='FR' value='33') France (+33)
               option(data-countrycode='GA' value='241') Gabon (+241)
               option(data-countrycode='GB' value='44') UK (+44)
               option(data-countrycode='GD' value='1473') Grenada (+1473)
               option(data-countrycode='GE' value='7880') Georgia (+7880)
               option(data-countrycode='GF' value='594') French Guiana (+594)
               option(data-countrycode='GH' value='233') Ghana (+233)
               option(data-countrycode='GI' value='350') Gibraltar (+350)
               option(data-countrycode='GL' value='299') Greenland (+299)
               option(data-countrycode='GM' value='220') Gambia (+220)
               option(data-countrycode='GN' value='224') Guinea (+224)
               option(data-countrycode='GP' value='590') Guadeloupe (+590)
               option(data-countrycode='GQ' value='240') Equatorial Guinea (+240)
               option(data-countrycode='GR' value='30') Greece (+30)
               option(data-countrycode='GT' value='502') Guatemala (+502)
               option(data-countrycode='GU' value='671') Guam (+671)
               option(data-countrycode='GW' value='245') Guinea - Bissau (+245)
               option(data-countrycode='GY' value='592') Guyana (+592)
               option(data-countrycode='HK' value='852') Hong Kong (+852)
               option(data-countrycode='HN' value='504') Honduras (+504)
               option(data-countrycode='HR' value='385') Croatia (+385)
               option(data-countrycode='HT' value='509') Haiti (+509)
               option(data-countrycode='HU' value='36') Hungary (+36)
               option(data-countrycode='ID' value='62') Indonesia (+62)
               option(data-countrycode='IE' value='353') Ireland (+353)
               option(data-countrycode='IL' value='972') Israel (+972)
               option(data-countrycode='IN' value='91') India (+91)
               option(data-countrycode='IQ' value='964') Iraq (+964)
               option(data-countrycode='IR' value='98') Iran (+98)
               option(data-countrycode='IS' value='354') Iceland (+354)
               option(data-countrycode='IT' value='39') Italy (+39)
               option(data-countrycode='JM' value='1876') Jamaica (+1876)
               option(data-countrycode='JO' value='962') Jordan (+962)
               option(data-countrycode='JP' value='81') Japan (+81)
               option(data-countrycode='KE' value='254') Kenya (+254)
               option(data-countrycode='KG' value='996') Kyrgyzstan (+996)
               option(data-countrycode='KH' value='855') Cambodia (+855)
               option(data-countrycode='KI' value='686') Kiribati (+686)
               option(data-countrycode='KM' value='269') Comoros (+269)
               option(data-countrycode='KN' value='1869') St. Kitts (+1869)
               option(data-countrycode='KP' value='850') Korea North (+850)
               option(data-countrycode='KR' value='82') Korea South (+82)
               option(data-countrycode='KW' value='965') Kuwait (+965)
               option(data-countrycode='KY' value='1345') Cayman Islands (+1345)
               option(data-countrycode='KZ' value='7') Kazakhstan (+7)
               option(data-countrycode='LA' value='856') Laos (+856)
               option(data-countrycode='LB' value='961') Lebanon (+961)
               option(data-countrycode='LI' value='417') Liechtenstein (+417)
               option(data-countrycode='LK' value='94') Sri Lanka (+94)
               option(data-countrycode='LR' value='231') Liberia (+231)
               option(data-countrycode='LS' value='266') Lesotho (+266)
               option(data-countrycode='LT' value='370') Lithuania (+370)
               option(data-countrycode='LU' value='352') Luxembourg (+352)
               option(data-countrycode='LV' value='371') Latvia (+371)
               option(data-countrycode='LY' value='218') Libya (+218)
               option(data-countrycode='MA' value='212') Morocco (+212)
               option(data-countrycode='MC' value='377') Monaco (+377)
               option(data-countrycode='MD' value='373') Moldova (+373)
               option(data-countrycode='MG' value='261') Madagascar (+261)
               option(data-countrycode='MH' value='692') Marshall Islands (+692)
               option(data-countrycode='MK' value='389') Macedonia (+389)
               option(data-countrycode='ML' value='223') Mali (+223)
               option(data-countrycode='MN' value='95') Myanmar (+95)
               option(data-countrycode='MN' value='976') Mongolia (+976)
               option(data-countrycode='MO' value='853') Macao (+853)
               option(data-countrycode='MQ' value='596') Martinique (+596)
               option(data-countrycode='MR' value='222') Mauritania (+222)
               option(data-countrycode='MS' value='1664') Montserrat (+1664)
               option(data-countrycode='MT' value='356') Malta (+356)
               option(data-countrycode='MV' value='960') Maldives (+960)
               option(data-countrycode='MW' value='265') Malawi (+265)
               option(data-countrycode='MX' value='52') Mexico (+52)
               option(data-countrycode='MY' value='60') Malaysia (+60)
               option(data-countrycode='MZ' value='258') Mozambique (+258)
               option(data-countrycode='NA' value='264') Namibia (+264)
               option(data-countrycode='NC' value='687') New Caledonia (+687)
               option(data-countrycode='NE' value='227') Niger (+227)
               option(data-countrycode='NF' value='672') Norfolk Islands (+672)
               option(data-countrycode='NG' value='234') Nigeria (+234)
               option(data-countrycode='NI' value='505') Nicaragua (+505)
               option(data-countrycode='NL' value='31') Netherlands (+31)
               option(data-countrycode='NO' value='47') Norway (+47)
               option(data-countrycode='NP' value='670') Northern Marianas (+670)
               option(data-countrycode='NP' value='977') Nepal (+977)
               option(data-countrycode='NR' value='674') Nauru (+674)
               option(data-countrycode='NU' value='683') Niue (+683)
               option(data-countrycode='NZ' value='64') New Zealand (+64)
               option(data-countrycode='OM' value='968') Oman (+968)
               option(data-countrycode='PA' value='507') Panama (+507)
               option(data-countrycode='PE' value='51') Peru (+51)
               option(data-countrycode='PF' value='689') French Polynesia (+689)
               option(data-countrycode='PG' value='675') Papua New Guinea (+675)
               option(data-countrycode='PH' value='63') Philippines (+63)
               option(data-countrycode='PL' value='48') Poland (+48)
               option(data-countrycode='PR' value='1787') Puerto Rico (+1787)
               option(data-countrycode='PT' value='351') Portugal (+351)
               option(data-countrycode='PW' value='680') Palau (+680)
               option(data-countrycode='PY' value='595') Paraguay (+595)
               option(data-countrycode='QA' value='974') Qatar (+974)
               option(data-countrycode='RE' value='262') Reunion (+262)
               option(data-countrycode='RO' value='40') Romania (+40)
               option(data-countrycode='RU' value='7') Russia (+7)
               option(data-countrycode='RW' value='250') Rwanda (+250)
               option(data-countrycode='SA' value='966') Saudi Arabia (+966)
               option(data-countrycode='SB' value='677') Solomon Islands (+677)
               option(data-countrycode='SC' value='1758') St. Lucia (+1758)
               option(data-countrycode='SC' value='248') Seychelles (+248)
               option(data-countrycode='SD' value='249') Sudan (+249)
               option(data-countrycode='SE' value='46') Sweden (+46)
               option(data-countrycode='SG' value='65') Singapore (+65)
               option(data-countrycode='SH' value='290') St. Helena (+290)
               option(data-countrycode='SI' value='386') Slovenia (+386)
               option(data-countrycode='SI' value='963') Syria (+963)
               option(data-countrycode='SK' value='421') Slovak Republic (+421)
               option(data-countrycode='SL' value='232') Sierra Leone (+232)
               option(data-countrycode='SM' value='378') San Marino (+378)
               option(data-countrycode='SN' value='221') Senegal (+221)
               option(data-countrycode='SO' value='252') Somalia (+252)
               option(data-countrycode='SR' value='597') Suriname (+597)
               option(data-countrycode='ST' value='239') Sao Tome &amp; Principe (+239)
               option(data-countrycode='SV' value='503') El Salvador (+503)
               option(data-countrycode='SZ' value='268') Swaziland (+268)
               option(data-countrycode='TC' value='1649') Turks &amp; Caicos Islands (+1649)
               option(data-countrycode='TG' value='228') Togo (+228)
               option(data-countrycode='TH' value='66') Thailand (+66)
               option(data-countrycode='TJ' value='7') Tajikstan (+7)
               option(data-countrycode='TM' value='7') Turkmenistan (+7)
               option(data-countrycode='TM' value='993') Turkmenistan (+993)
               option(data-countrycode='TN' value='216') Tunisia (+216)
               option(data-countrycode='TO' value='676') Tonga (+676)
               option(data-countrycode='TR' value='90') Turkey (+90)
               option(data-countrycode='TT' value='1868') Trinidad &amp; Tobago (+1868)
               option(data-countrycode='TV' value='688') Tuvalu (+688)
               option(data-countrycode='TW' value='886') Taiwan (+886)
               option(data-countrycode='UA' value='380') Ukraine (+380)
               option(data-countrycode='UG' value='256') Uganda (+256)
               option(data-countrycode='US' value='1' selected='selected') USA (+1)
               option(data-countrycode='UY' value='598') Uruguay (+598)
               option(data-countrycode='UZ' value='7') Uzbekistan (+7)
               option(data-countrycode='VA' value='379') Vatican City (+379)
               option(data-countrycode='VE' value='58') Venezuela (+58)
               option(data-countrycode='VG' value='84') Virgin Islands - British (+1284)
               option(data-countrycode='VI' value='84') Virgin Islands - US (+1340)
               option(data-countrycode='VN' value='84') Vietnam (+84)
               option(data-countrycode='VU' value='678') Vanuatu (+678)
               option(data-countrycode='WF' value='681') Wallis &amp; Futuna (+681)
               option(data-countrycode='YE' value='967') Yemen (South)(+967)
               option(data-countrycode='YE' value='969') Yemen (North)(+969)
               option(data-countrycode='YT' value='269') Mayotte (+269)
               option(data-countrycode='ZA' value='27') South Africa (+27)
               option(data-countrycode='ZM' value='260') Zambia (+260)
               option(data-countrycode='ZW' value='263') Zimbabwe (+263)
            p.control.is-expanded
             input.input(type='tel' name="phone" placeholder='Your phone number' value="{{customer.phone_number if customer}}")
          p.help Do not enter the first zero

 .hero.is-info
  .hero-body
   .title Product Details
   .subtitle.is-6 What you will get

 .section

  .columns
   .column.is-9.is-offset-1.box
    .block
     .level
      .title.is-5 Team Subscription
      .title.is-5 {{price_total}} € / {{price_interval}}

     .field.is-grouped.is-grouped-multiline
       .control
        .tags.has-addons
         .tag.is-medium.is-dark Name
         .tag.is-medium.is-link {{team.name}}

       .control
        .tags.has-addons
         .tag.is-medium.is-dark Type
         .tag.is-medium.is-info private

       .control
        .tags.has-addons
         .tag.is-medium.is-dark Payment
         {% if yearly %}
         .tag.is-medium.is-danger yearly
         {% else %}
         .tag.is-medium.is-danger montly
         {% endif %}

    .block
     .control
      button.button.is-danger.is-light.is-fullwidth.icon-text.is-medium
       .span.icon
        i.fas.fa-money-bill
       .span Proceed to Payment
{% endblock %}


{% block javascript %}
script
.
 const country_code_tag = document.getElementById('country_code');
 const country_code = country_code_tag.getAttribute("value");
 if (country_code) {
  var options = document.querySelectorAll('option[value="' + country_code + '"]');
  options[0].selected = true;
 }

 const phone_country_code_tag = document.getElementById('phone_country_code');
 const phone_country_code = phone_country_code_tag.getAttribute("value");
 if (phone_country_code) {
  var options = document.querySelectorAll('option[value="' + phone_country_code + '"]');
  options[0].selected = true;
 }

{% endblock %}
