{% extends 'layout.html' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
    <section class="hero is-danger is-halfheight">
      <div class="hero-body">
        <div>
        <p class="title">
          An Error occured
        </p>
        <p class="subtitle">
        {{exc}}
        </p>
        <p class="subtitle">
          We are sorry, but apparently, we messed up. Admins have been informed and will look into the issue as soon as possible!
        </p>
        </div>
      </div>
    </section>
{% endblock %}
