.block
  section.hero.is-light.is-large
    .hero-body
      h1.title.has-text-dark.has-text-weight-bold
        img.brand-logo(src="{{ url_for('static', path='img/logo-navbar.svg')}}" width='128rm')
        | Relay.md
      h1.subtitle.mt-4(style='line-height: 1.8;')
        | A
        span.tag.is-dark.is-medium collaborative platform
        | for managing larger
        span.tag.is-dark.is-medium markdown documents
        | .
        | Integrated with Obsidian, it becomes the
        span.tag.is-dark.is-medium ultimate tool
        | for team-wide
        span.tag.is-dark.is-medium knowledge management
        | ,
        span.tag.is-dark.is-medium task organization
        | ,
        | and
        span.tag.is-dark.is-medium project coordination
        | .
        | Seamlessly link information, navigate
        | documents, and manage projects within Obsidian,
        span.tag.is-dark.is-medium empowering teams
        | to
        | collaborate efficiently while
        span.tag.is-dark.is-medium leveraging
        | the
        span.tag.is-dark.is-medium simplicity of markdown
  | {% if not user %}
  | {% include "subscribe.html" %}
  | {% endif %}
  section#features.hero.is-primary.is-medium
    .hero-body
      p.title
        | Manage Extensive Markdown Documents
      p.subtitle
        | Collaborative platform tailored for handling larger markdown documents like specifications and contracts.
  section.hero.is-secondary.is-medium
    .hero-body
      p.title
        | Integration with Obsidian: Empower Team Efficiency
      p.subtitle
        | Seamlessly integrated with Obsidian, Relay.md becomes the ultimate
        | solution for team-wide knowledge management, task organization, and
        | project coordination&mdash;all within markdown.
  section.hero.is-warning.is-medium
    .hero-body
      p.title
        | Constructing a Robust Knowledge Base
      p.subtitle
        | Effortlessly build a comprehensive knowledge base within Obsidian, linking
        | information and fostering efficient collaboration using interoperable markdown.
  section.hero.is-info.is-medium
    .hero-body
      p.title
        | Maximize Benefits of Templates for Rapid Document Creation
      p.subtitle
        | Follow team-wide style and corporate guidelines by providing a place for
        | your templates.
  section.hero.is-light.is-medium
    .hero-body
      p.title
        | Use your own structure
      p.subtitle
        | Documents and synchronization does not rely on folder structure. Any new
        | document you receive in your inbox can be moved anywhere in your vault.
  section.hero.is-dark.is-medium
    .hero-body
      p.title
        | New workflows emerging
      p.subtitle
        | With Relay.md, your obsidian vault turns into your daily bridge.
        | Team Communication and management, tightly integrated with your
        | knowledge-base.
