    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <div class="block">
              <a href="/">
                <img src="{{ url_for('static', path="img/logo-navbar.svg") }}" width=64>
              </a>
              <div class="title is-5">Relay.md</div>
              <div class="sub-title is-3">Markdown workflows for teams</div>
            </div>
            <div class="block">
              <span class="icon">
                <a target="_blank" href="https://github.com/relay-md/relay.md"><i class="fab fa-github"></i></a>
              </span> &emsp;
              <span class="icon">
                <a target="_blank" href="mailto:fabian@relay.md"><i class="fas fa-envelope"></i></a>
              </span> &emsp;
              <span class="icon">
                <a target="_blank" href="https://forum.obsidian.md/t/relay-md-sharing-documents-with-people-and-teams/72208"><i class="fab fa-discourse"></i></a>
              </span> &emsp;
              <span class="icon">
                <a target="_blank" href="https://www.reddit.com/r/ObsidianMD/comments/187rq1k/relaymd_sharing_markdown_documents_with_people/"><i class="fab fa-reddit"></i></a>
              </span> &emsp;
            </div>
            <div class="block">
              <small style="color: var(--textLight)">
                &copy; ChainSquad GmbH
              </small>
            </div>
          </div>
          <div class="column is-4">
            <div class="title is-5">Product</div>
            <a class="navbar-item p-0" href="/#features">
              Features
            </a>
            <a class="navbar-item p-0" href="{{url_for('relay_basics')}}">
              Basics
            </a>
            <a class="navbar-item p-0" href="{{url_for('obsidian_plugin')}}">
              Plugin
            </a>
            {% if not config.ENABLE_EARLY_ACCESS or user%}
            <a class="navbar-item p-0" href="{{url_for('get_teams')}}">
              Teams/Topics
            </a>
            {%endif%}
          </div>
          <div class="column is-4">
          </div>
    </footer>
