<div class="block" id="howitworks">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <h1 class="title">How it works</h1>
      <h3 class="subtitle">The power of Markdown, Frontmatter and Obsidian</h3>
      <div class="mb-5"></div>

      <div class="title is-5 icon-text mb-0">
        <span class="icon has-text-success">
          <i class="fas fa-check-square"></i>
        </span>
        <span class="has-text-weight-bold">Log-in</span>
      </div>
      <p class="block">
        With your <span class="icon-text"><span class="icon"><i class="fab
          fa-github"></i></span> <span>Account</span></span>, you can register
        on relay.md with just one click. Other identity providers may be
        supported in the future.</p>

      <div class="title is-5 icon-text mb-0">
        <span class="icon has-text-success">
          <i class="fas fa-check-square"></i>
        </span>
        <span class="has-text-weight-bold">Access Key</span>
      </div>
      <p class="block">
        Obtain your custom access key from your <a
          href="https://relay.md/profile">relay.md profile</a>. Use the Access
        key for authentication against our API.</p>

      <div class="title is-5 icon-text mb-0">
        <span class="icon has-text-success">
          <i class="fas fa-check-square"></i>
        </span>
        <span class="has-text-weight-bold">API Access</span>
      </div>
      <p class="block">
        We provide API access on <a
          href="https://api.relay.md/docs">api.relay.md</a> to upload your
        markdown files via standard HTTP requests.</p>

      <div class="title is-5 icon-text mb-0">
        <span class="icon has-text-success">
          <i class="fas fa-check-square"></i>
        </span>
        <span class="has-text-weight-bold">Obsidian Plugin</span>
      </div>
      <p class="block">
        Use the power of Relay.md fully integrating into Obsidian via a
        plugin. Get newly shared content and post new documents with a single click.</p>

      <div class="title is-5 icon-text mb-0">
        <span class="icon has-text-success">
          <i class="fas fa-check-square"></i>
        </span>
        <span class="has-text-weight-bold">Sharing</span>
      </div>
      <p class="block">
        Use the frontmatter key <span class="tag
          is-dark"><tt>relay-to</tt></span> to list recipients individually or
        entire teams including a topic.
      </p>

    </div>
  </div>
  <hr>
</div>
