doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link#favicon(rel='icon' type='image/x-icon' href='/static/img/favicon.ico')
  title simple, efficient communication using markdown
  meta(name="description" content="Relay your markdown files to your team members")
  meta(http-equiv="content-language" content="en")
  link(href="{{ url_for('static', path='css/main.css') }}" rel='stylesheet')

 body
  {% include "navbar.pug" %}
  {% block content %}{% endblock %}
  {% include "footer.pug" %}

 script(src='https://kit.fontawesome.com/15181efa86.js' crossorigin='anonymous')
 script.
  var _paq = window._paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.infra.chainsquad.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
 script(src="{{ url_for('static', path='js/main.js') }}")
 {% block javascript %}
 {% endblock %}
