<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>relay.md - simple, efficient communication using markdown</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css" />
    <link href=" https://cdn.jsdelivr.net/npm/bulma-pricingtable@0.2.0/dist/css/bulma-pricingtable.min.css " rel="stylesheet">
    <link href="{{ url_for('static', path="css/style.css") }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include "navbar.html" %}
    {% block content %}{% endblock %}
    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <div class="block">
              <a href="/">
                <img src="{{ url_for('static', path="img/logo-navbar.svg") }}" width=64>
              </a>
              <div class="title is-5">Relay.md</div>
              <div class="sub-title is-3">Markdown workflows for teams</div>
            </div>
            <div class="block">
              <span class="icon">
                <a target="_blank" href="https://github.com/relay-md/relay.md"><i class="fab fa-github"></i></a>
              </span> &emsp;
              <span class="icon">
                <a target="_blank" href="mailto:fabian@relay.md"><i class="fas fa-envelope"></i></a>
              </span>
            </div>
            <div class="block">
              <small style="color: var(--textLight)">
                &copy; ChainSquad GmbH
              </small>
            </div>
          </div>
          <div class="column is-4">
            <div class="title is-5">Product</div>
            <a class="navbar-item p-0" href="/#features">
              Features
            </a>
            <a class="navbar-item p-0" href="/#howitworks">
              How it works
            </a>
          </div>
          <div class="column is-4">
          </div>
    </footer>
  </body>
  <script src="{{ url_for('static', path="js/script.js") }}"></script>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
  {% block javascript %}{% endblock %}
</html>
