    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="{{ url_for('static', path="img/logo-navbar.svg") }}" width="32">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navBarBurger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navBarBurger" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/#features">
            Features
          </a>
          <a class="navbar-item" href="{{url_for('relay_basics')}}">
            Basics
          </a>
          <a class="navbar-item" href="{{url_for('obsidian_plugin')}}">
            Plugin
          </a>
          {% if not config.ENABLE_EARLY_ACCESS or user%}
          <a class="navbar-item" href="{{url_for('get_teams')}}">
            Teams/Topics
          </a>
          {% endif %}
        </div>

        <div class="navbar-end">
          {% if user %}
          <div class="navbar-item">
            <a class="button is-warning" href="/profile">
              <span class="icon">
                <i class="fas fa-user"></i>
              </span>
              <span><strong>{{ user.username }}</strong></span>
            </a>
          </div>
          <div class="navbar-item">
            <a class="button is-primary" href="/logout">
              <i class="fas fa-sign-out"></i>
            </a>
          </div>
          {% else %}
            {% if config.ENABLE_EARLY_ACCESS %}
            <div class="navbar-item">
              <a class="button is-danger" href="/#getearlyaccess">
                <span class="icon">
                  <i class="fas fa-envelope"></i>
                </span>
                <span><strong>Get Early Access</strong></span>
              </a>
            </div>
            {% else %}
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="/register">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span><strong>Sign up</strong></span>
                </a>
                <a class="button is-light" href="/login/github">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Log in</span>
                </a>
              </div>
            </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </nav>
