{% extends 'layout.pug' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.mt-5.mb-5
 .columns
  .column.is-8.is-offset-2
   h1.title.is-1 Relay News

   {% for new in news %}
   .card.block
    .card-header
     .card-header-title {{new.title}}
    .card-content.content
     div(data-document="{{new.id}}").document-body
      progress.progress.is-small.is-dark(max="100") 15%
    .card-footer.is-small
     // TODO: make this look nicer
     .card-footer-item published {{new.created_at.strftime("%Y/%m/%d")}}
     .
   {% endfor %}
{% endblock %}

{% block javascript %}
script#access_token {{access_token}}
script
.
 documents = document.querySelectorAll('[data-document]');
 documents.forEach(dom_doc => {
  var id = dom_doc.dataset.document;
  get_document(id)
    .then((doc) => {
      const [html, metadata] = post_process_markdown(doc)
      dom_doc.innerHTML = html;

    });
 });
{% endblock %}
