{% extends 'layout.pug' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.section
 .columns
  .column.is-8.is-offset-2
   section.m-3
    h1.title.is-1 Installing the relay.md Obisidan plugin
    p.subtitle You can install this plugin from the community plugins, manually,
     | or using the BRAT plugin. Please note that in order to use the plugin, you
     | need an account on relay.md and have to obtain your access key from the
     | profile page.

   .card.block
    .card-header
     .card-header-title Installing from community plugins
    .card-content
     p.block The
      span.tag.is-light relay.md
      | plugin is available directly from the community plugins repo. You can
      | either search for it in Obsidian, or simply click the button below to
      | have the plugin screen opened and relay.md pre-selected.
     p.has-text-centered.block
      a.button.is-info.is-medium.is-rounded(href="obsidian://show-plugin?id=relay-md") Relay.md Plugin in Obsidian

   .card.block
    .card-header
     .card-header-title Installing using BRAT
    .card-content
     p.block
       | BRAT is a beta-testing tool for plugin developers and beta testers. It helps you install and update
       | beta versions of plugins based on some additional metadata in this repo. If
       | you’d like to install relay.md using BRAT:
     .list.block
      .list-item
       .list-item-image
        .tag.is-dark 1.
       .list-item-content Install the BRAT plugin.
      .list-item
       .list-item-image
        .tag.is-dark 2.
       div
        | Run the BRAT: Add a beta plugin for testing command and paste in
        br
        tt https://github.com/relay-md/relay-md-obsidian-plugin/
      .list-item
       .list-item-image
        .tag.is-dark 3.
       | Click the&nbsp;
       tt.is-light.button(disabled) Add Plugin
       |&nbsp; button
      .list-item
       .list-item-image
        .tag.is-dark 4.
       | Navigate to Community Plugins in Obsidian settings, click the &nbsp;
       span.icon-text.is-small
        span.icon
         i.fas.fa-sync
        span Refresh
       | &nbsp;button, find
       span.tag.is-light
        tt relay.md
       |, and enable it.

   .card.block
    .card-header
     .card-header-title Installing manually
    .card-content
     p.block To install manually, you'll need to:
     .list.block
      .list-item
       .list-item-image
        .tag.is-dark 1.
       .list-item-content Download the latest release.
      .list-item
       .list-item-image
        .tag.is-dark 2.
       | Find the folder named&nbsp;
       tt.tag.is-light .obsidian/plugins
       | &nbsp;in your vault and open it.
      .list-item
       .list-item-image
        .tag.is-dark 3.
       | In that folder, create a new folder named&nbsp;
       tt.tag.is-light relay-md
      .list-item
       .list-item-image
        .tag.is-dark 4.
       | Copy the files from the latest release and paste them into the folder you created.
      .list-item
       .list-item-image
        .tag.is-dark 5.
       div
        | Navigate to Community Plugins in Obsidian settings, click the&nbsp;
        span.icon-text.is-small
         span.icon
          i.fas.fa-sync
         span Refresh
        | &nbsp;button, find
        span.tag.is-light
         tt relay.md
        |, and enable it.
        span.tag.is-light
         tt relay.md
        |, and enable it.

     p.block After installing via either method you should have relay.md panes
     | available in both the left and right sidebars of Obsidian. Use the links in
     | one of those to register or log in.
{% endblock %}
