<div class="block" id="pricing">
  <div class="columns">
    <div class="column has-text-centered is-10 is-offset-1">
      <h1 class="title">Pricing</h1>
      <h3 class="subtitle">Plans for teams of all sizes</h3>

      <div class="pricing-table">
        <div class="pricing-plan">
          <div class="plan-header">Free Thinkers</div>
          <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>0</span>/month/member</div>
          <div class="plan-items">
            <div class="plan-item">-</div>
            <div class="plan-item">-</div>
            <div class="plan-item">-</div>
            <div class="plan-item">-</div>
          </div>
          <div class="plan-footer">
            <button class="button is-fullwidth">Choose</button>
          </div>
        </div>

        <div class="pricing-plan is-warning">
          <div class="plan-header">Startups</div>
          <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>9</span>/month/member</div>
          <div class="plan-items">
            <div class="plan-item">-</div>
            <div class="plan-item">-</div>
            <div class="plan-item">-</div>
            <div class="plan-item">-</div>
          </div>
          <div class="plan-footer">
            <button class="button is-fullwidth">Choose</button>
          </div>
        </div>

        <div class="pricing-plan is-danger">
          <div class="plan-header">Enterprise</div>
          <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency"></span></span>Request Quote</div>
          <div class="plan-items">
            <div class="plan-item">-</div>
            <div class="plan-item">-</div>
            <div class="plan-item">-</div>
            <div class="plan-item">-</div>
          </div>
          <div class="plan-footer">
            <button class="button is-fullwidth">Request Quote</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
