{% extends 'layout.pug' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
section.hero.is-primary
 .hero-body
  .title
   figure.image.is-128x128
     img.is-rounded(src="{{user.profile_picture_url}}")
  .subtitle {{user.name | capitalize }} ({{user.username}})

.column
 section.section
  .title.has-text-primary.has-text-weight-bold Account
  .subtitle.has-text-grey Personal Information of your account
  table.table
   tr
    td
     span.icon
       i.fas.fa-envelope
    td {{user.email}}

 section.section
  .title.has-text-primary.has-text-weight-bold API
  .subtitle.has-text-grey Access Token
  {% for access_token in user.access_tokens %}
  div.icon-text
   span.icon
    i.fas.fa-key
   span
    tt
     strong {{access_token.token}}
   a(data-target="{{access_token.token}}" class="clipboard-this")
    span.icon
     i.fas.fa-copy
  div.mt-0
   small Last Used: &nbsp; {{access_token.latest_document_at }}
  {% endfor %}

{% endblock %}
