{% extends 'layout.html' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.mt-5.mb-5
 .columns
  .column.is-8.is-offset-2
   h1.title.is-1 Team Overview
   p.block You can subscribe to individual topics of each team by clicking the topic. You will get new documents in those topics into your Vault automatically.
   p.block
    span.text-icon
     span.icon
      i.fas.fa-globe
     span Public
    span.text-icon
     span.icon
      i.fas.fa-lock
     span Private

   .columns.is-multiline
    {% for team in teams %}
    {% if team.name != "_" %}
    .column.is-6
     a(href="{{url_for('show_team', team_name=team.name)}}").card-content.box
      .media
       .media-left
        figure.image.is48x48
         {% if team.is_public %}
         span.icon
          i.fas.fa-globe
         {% else %}
         span.icon
          i.fas.fa-lock
         {% endif %}
       .media-content
        .title.is-4 {{team.name}}
        .subtitle.is-6 {{team.headline | default("")}}
    {% endif %}
    {% endfor %}
{% endblock %}
