{% extends 'layout.pug' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.section
 .columns
  .column.is-8.is-offset-2
   .title.is-2 Team Directory
   .subtitle.is-5 Click on the team to join and subscribe to topics
   p.block
     a.button.is-primary(href="{{url_for('create_team')}}")
       span.icon
         i.fas.fa-plus
       span Create a new team

   .title.is-4.mb-0 Selected Teams
   p.block
    .level
     .level-left
      span.text-icon
       span.icon
        i.fas.fa-globe
       span Public&nbsp;
      span.text-icon
       span.icon
        i.fas.fa-lock
       span Private
     .level-right
      .field
       p.control.has-icons-left
         input.input(type="text" name="name" placeholder="Search" hx-post="{{url_for('search_team')}}" hx-trigger="input changed delay:500ms, search" hx-target="#team-search-results")
         span.icon.is-small.is-left
           i.fas.fa-search
   #team-search-results
    {% include "teams-iterator.pug" %}
{% endblock %}
