{% extends 'layout.html' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.mt-5.mb-5
 .columns
  .column.is-8.is-offset-2
   h1.title.is-1 Team Overview
   p.block You can subscribe to individual topics of each team.
   p.block
    span.tag.is-primary Subscribed
    span.tag Unsubscribed
   table.table.is-fullwidth.block
    thead
     th Team
     th Topics
     th Owner
     th Creation Date
     th Public
     th Create Topics
    tbody
     {% for team in teams %}
     tr
      td
       {%if team.name == "_"%}
       .icon-text
        span.tag.is-primary.icon
          i.fas.fa-globe
        span Global
       {%else%}
       tt {{team.name}}
       {%endif%}
      td
       {% if team.is_private %}
       span.is-italic confidential
       {% else %}
       {% for topic in team.topics %}
       // FIXME: this is super inefficient
       {% if user and user_repo.is_subscribed(user, team, topic) %}
       a(href="{{url_for('unsubscribe', team_topic_name=topic.name+'@'+team.name)}}")
        p.tag.is-primary {{topic.name}}
       {% else %}
       a(href="{{url_for('subscribe', team_topic_name=topic.name+'@'+team.name)}}")
        p.tag {{topic.name}}
       {% endif %}
       {% endfor %}
       {% endif %}
      td {{team.user.username}}
      td {{team.created_at}}
      td
       {% if not team.is_private %}
       span.icon
        i.fas.fa-check
       {% else %}
       span.icon
        i.fas.fa-times
       {% endif %}
      td
       {% if not team.allow_create_topics %}
       span.icon
        i.fas.fa-check
       {% else %}
       span.icon
        i.fas.fa-times
       {% endif %}
     {% endfor %}
{% endblock %}
