{% extends 'layout.html' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.mt-5.mb-5
 .columns
  .column.is-8.is-offset-2
   h1.title.is-1 Team {{team.name}}

   p Site is under contruction

{% endblock %}
