.timeline
  header.timeline-header
    span.tag.is-medium.is-primary Start
  .timeline-item
    .timeline-marker
    .timeline-content
      p.heading January 2016
      p Timeline content - Can include any HTML element
  .timeline-item
    .timeline-marker.is-image.is-32x32
      img(src='https://bulma.io/images/placeholders/32x32.png')
    .timeline-content
      p.heading February 2016
      p Timeline content - Can include any HTML element
  header.timeline-header
    span.tag.is-primary 2017
  .timeline-item
    .timeline-marker.is-icon
      i.fa.fa-flag
    .timeline-content
      p.heading March 2017
      p Timeline content - Can include any HTML element
  .timeline-header
    span.tag.is-medium.is-primary End
