section.hero.is-light.is-large
  .hero-body
    h1.title.has-text-dark.has-text-weight-bold
      img.brand-logo(src="{{ url_for('static', path='img/logo-navbar.svg')}}" width='128rm')
      | Relay.md
    h1.subtitle.mt-4(style='line-height: 1.8;')
      | A&nbsp;
      span.tag.is-dark.is-medium collaborative platform
      | &nbsp;for managing larger
      span.tag.is-dark.is-medium markdown documents
      | . Integrated with Obsidian, it becomes the&nbsp;
      span.tag.is-dark.is-medium ultimate tool
      | &nbsp;for team-wide&nbsp;
      span.tag.is-dark.is-medium knowledge management
      | ,&nbsp;
      span.tag.is-dark.is-medium task organization
      | , and&nbsp;
      span.tag.is-dark.is-medium project coordination
      | . Seamlessly link information, navigate documents, and manage projects within Obsidian,&nbsp;
      span.tag.is-dark.is-medium empowering teams
      | &nbsp;to collaborate efficiently while
      span.tag.is-dark.is-medium leveraging
      | &nbsp;the&nbsp;
      span.tag.is-dark.is-medium simplicity of markdown
