{% extends 'layout.pug' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
.column.is-10.is-offset-1
  .card
    header.card-header
      p.card-header-title
        | Document {{id}}
    .card-content
      .content
        #document
          progress.progress.is-small.is-dark(max="100") 15%
    .card-footer
      .card-footer-item
        #frontmatter.content
{% endblock %}

{% block javascript %}
script#access_token {{access_token}}
script
.
  get_document("{{id}}")
    .then((doc) => {
      const [html, metadata] = post_process_markdown(doc);
      document.getElementById('document').innerHTML = html;

      var supported_metadatatag = ["title"];
      var metadata_html = "";

      // iterate over relay_to
      let relay_to = [];
      if ("relay-to" in metadata)
        relay_to = metadata["relay-to"];
      else if ("relay_to" in metadata)
        relay_to = metadata["relay_to"];
      // TODO: ideally we would want to be sure the backend returns a list here!
      // Users could use a string here, we need to capture that case
      if (typeof relay_to === "string")
        relay_to = [relay_to];

      for (var to of relay_to) {
       metadata_html += `<div class="control">
          <div class="tags has-addons">
           <span class="tag is-dark">to</span>
           <span class="tag is-info">${to}</span>
          </div>
        </div>
       `;
      }
      document.getElementById('frontmatter').innerHTML = metadata_html;
      window.prerenderReady = true;
    })
    .catch((msg) => {
      document.getElementById('document').innerHTML = msg;
      window.prerenderReady = true;
    });
{% endblock %}
