{% extends 'layout.html' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
<div class="column fluid">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
	Document {{id}}
      </p>
    </header>
    <div class="card-content">
      <div class="content">
	<div id="document"></div>
      </div>
    </div>
  </div>



  <pre id="frontmatter"></pre>
</div>

{% endblock %}

{% block javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js" integrity="sha512-CSBhVREyzHAjAFfBlIBakjoRUKp5h7VSweP0InR/pAJyptH7peuhCsqAI/snV+TwZmXZqoUklpXp6R6wMnYf5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    async function get_document(id) {
      const response = await fetch("https://api.relay.md/v1/doc/" + id, {
	method: "GET",
	headers: {
	  "Content-Type": "text/markdown",
	  "X-API-Key": "{{access_token}}"
	}
      });
      if (!response.ok) {
	return response.statusText;
	return;
      }
      return await response.text();
    }
    get_document("{{id}}").then((doc) => {
	FRONTMATTER_EXPR = /---\n(.*)?\n---/s
        body = doc.replace(FRONTMATTER_EXPR, "");
        frontmatter = doc.match(FRONTMATTER_EXPR);
	console.log(frontmatter[1]);
	var converter = new showdown.Converter();
	var html = converter.makeHtml(body);
	console.log(html);
	document.getElementById('document').innerHTML = html;
	document.getElementById('frontmatter').innerHTML = JSON.stringify(jsyaml.load(frontmatter[1]), undefined, 3);
    });
  </script>
{% endblock %}
