{% extends 'layout.html' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
{% if user %}
{% include "get-document.html" %}
{% endif %}
{% include "features.pug" %}
{% include "howitworks.pug" %}
{% endblock %}
