{% extends 'layout.pug' %} {% block title %}{{ name }} {% endblock %}
{% block content %}
{% if user %}
{% include "get-document.pug" %}
{% endif %}
{% include "features.pug" %}
{% include "howitworks.pug" %}
{% endblock %}
